.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 56rem;
  margin: 1.8rem auto 0;
  padding: 0.75rem 1rem;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 3rem;
  color: #111;
  line-height: 1.1;
  font-weight: 700;
}

.subtitle {
  margin-top: 0.5rem;
  color: #333;
  font-size: 1.5rem;
}
.clock {
  position: fixed;
  top: 1rem;
  right: 1rem;

  font-size: 1.1rem;
  font-weight: 500;
  color: #000;

  background: rgba(255, 255, 255, 0.6);
  padding: 0.3rem 0.75rem;
  border-radius: 1rem;

  backdrop-filter: blur(0.3rem);
}
