h1 {
  text-align: center;
  color: black;
  font-size: 1.5rem;
  text-decoration: underline;
  text-underline-position: below;
}

.applications-container {
  max-height: 31.25rem;
  overflow-y: auto;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  padding: 0.75rem;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 40%;
  margin: 0 auto;
}

.applications-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.applications-container li {
  margin-bottom: 0.5rem;
}

.no-applications {
  text-align: center;
  color: #666;
  padding: 1rem;
  font-size: 1.5rem;
}
