<div class="applications-container">
  @if (!canVote()) {
    <h1>Your Submitted Applications</h1>
  } @else {
    <h1>All Submitted Applications (except yours)</h1>
  }
  @if (applicationsList() && applicationsList().length > 0) {
    <ul>
      @for (app of applicationsList(); track app.appId) {
        <li>
          <app-application
            [application]="app"
            [canDeleteApp]="canDeleteApp()"
            [canVote]="canVote()"
          />
        </li>
      }
    </ul>
    @if (!canVote()) {
      <div class="add-app">
        <p>Want to add another member to our group?</p>
        <button (click)="openNewAppDialog()">Add Member Application+</button>
      </div>
    } @else {
      <div class="add-app">
        <p>Want to add another admin to our group?</p>
        <button (click)="openNewAppDialog()">Add Admin Application+</button>
      </div>
    }
  } @else {
    <p class="no-applications">You don't have any applications</p>
  }
</div>
