h1 {
  text-align: center;
  color: black;
  font-size: 1.5rem;
  text-decoration: underline;
  text-underline-position: below;
}

.add-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin-top: 4rem;
  gap: 1.5rem;
}

.add-app p {
  font-size: 1.4rem;
  font-weight: 600;
  color: #181818;
  margin: 0;
}

.add-app button {
  padding: 0.9rem 2rem;
  font-size: 1.1rem;
  font-weight: 600;

  border-radius: 0.75rem;
  border: none;
  cursor: pointer;
  background-color: #4f46e5;
  color: white;
}

.add-app button:hover {
  background-color: #4338ca;
}

.applications-container {
  max-height: 31.25rem;
  overflow-y: auto;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  padding: 0.75rem;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
  width: 40%;
  margin: 0 auto;
}

.applications-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.applications-container li {
  margin-bottom: 0.5rem;
}

.no-applications {
  text-align: center;
  color: #666;
  padding: 1rem;
  font-size: 1.5rem;
}
