.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    120deg,
    #cfe9ff,
    #8ec5ff,
    #4fa3ff
  );
}

.auth-buttons {
  position: absolute;
  top: 16px;
  right: 16px;
}

.auth-buttons button {
  border-radius: 25px;
  background-color: #cfe9ff;
  padding: 20px;
  margin-left: 6px;
  font-size: 14px;
  cursor: pointer;
}

.content {
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: clamp(100px, 4vw, 36px);
  line-height: 1.3;
}

.subtitle {
  font-size: clamp(80px, 2vw, 14px);
}
