.auth-buttons {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.auth-buttons button {
  border-radius: 1.5rem;
  background: rgba(255, 255, 255, 0.6);
  padding: 1.25rem;
  margin-left: 0.4rem;
  font-size: 1rem;
  cursor: pointer;
}
.auth-buttons button:hover {
  background: rgba(255, 255, 255, 0.5);
}

.content {
  text-align: center;
  padding: 1.25rem;
}

h1 {
  font-size: clamp(6rem, 4vw, 2rem);
  color: black;
  line-height: 1.3;
}

.subtitle {
  color: black;
  font-size: clamp(5rem, 2vw, 1rem);
}

.welcome-info {
  color: black;
  font-size: clamp(1.5rem, 2vw, 1rem);
}
