.application-card {
  max-width: 19rem;
  margin: 1.5rem auto;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
  background: rgba(255, 255, 255, 0.6);
  font-family: Arial, sans-serif;
  transition: transform 0.2s ease;
}

.application-card:hover {
  transform: translateY(-0.25rem);
}

.application-card h2 {
  margin-top: 0;
  color: #333;
}

.application-card p {
  margin: 0.5rem 0;
  color: #555;
}

.votes {
  color: #585858;
}

.votes ul {
  padding-left: 1.5rem;
  margin: 0.25rem 0;
}

.votes li {
  list-style-type: disc;
  color: #444;
}

.delete-button {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #c00a0a;
}

.delete-button:hover {
  background-color: #d90c0c;
}

.admin-actions {
  display: flex;
  gap: 0.75rem;
}

.approve-button {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #429908;
}

.approve-button:hover {
  background-color: #4db10b;
}

.disapprove-button {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #c00a0a;
}

.disapprove-button:hover {
  background-color: #d90c0c;
}
